site_name: MapLibre GL JS
site_url: https://www.maplibre.org/maplibre-gl-js/docs/
repo_url: https://github.com/maplibre/maplibre-gl-js/
extra_css:
  - assets/extra.css
theme:
  name: 'material'
  favicon: https://maplibre.org/favicon.ico
  logo: https://avatars.githubusercontent.com/u/75709127?s=48&v=4
  features:
    - content.code.copy
    - navigation.tabs
    - navigation.tabs.sticky
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
markdown_extensions:
  - toc:
      toc_depth: 3
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.escapeall:
      hardbreak: True
      nbsp: True

extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/maplibre
    - icon: fontawesome/brands/github
      link: https://github.com/maplibre
    - icon: fontawesome/brands/slack
      link: https://osmus.slack.com/archives/C01G3D28DAB

copyright: Copyright &copy; 2023 Maplibre
