name: Create bump version PR

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to change to (semver).
        required: true
        type: string

jobs:
  bump-version-pr:
    name: Bump version PR
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          ref: main

      - name: Use Node.js from nvmrc
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v4
        with:
          node-version-file: '.nvmrc'

      - name: Bump version
        run: |
          npm version --commit-hooks false --git-tag-version false ${{ inputs.version }}
          ./build/bump-version-changelog.js ${{ inputs.version }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          commit-message: Bump version to ${{ inputs.version }}
          branch: bump-version-to-${{ inputs.version }}
          title: Bump version to ${{ inputs.version }}
