name: Release

permissions:
  id-token: write  # Required for trusted publishing
  contents: write
  attestations: write

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  release:
    uses: maplibre/reusable-workflows/.github/workflows/npm-publish.yml@main
    with:
      build-command: npm ci && npm run build-dist
      docs-output-dir: site
      docs-gh-pages-dir: docs

  get_tag:
    needs: release
    runs-on: ubuntu-latest
    outputs:
      latest_tag: ${{ steps.set-tag.outputs.tag }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0 # Necessary to see all tags
      - id: set-tag
        run: |
          # Get the most recent tag reachable from the current commit
          LATEST_TAG=$(git describe --tags --abbrev=0)
          echo "tag=$LATEST_TAG" >> $GITHUB_OUTPUT

  upload_benchmarks:
    needs: get_tag
    uses: ./.github/workflows/upload-benchmarks.yml
    with:
      tag: ${{ needs.get_tag.outputs.latest_tag }}
