name: Unit Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:

  test_unit_ubuntu:
    strategy:
      matrix:
        os:
          - ubuntu-latest
        node_version:
          - 16
        architecture:
          - x64

    name: ${{ matrix.os }}
    permissions:
      checks: write
      pull-requests: write
      contents: write
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3.5.1
        with:
          node-version: ${{ matrix.node_version }}
          architecture: ${{ matrix.architecture }}
      - run: npm ci
      - run: xvfb-run -s "-ac -screen 0 1280x1024x24" npm run test-unit-ci

